.baner{
    position: relative;
}

.baner .image{
    width: 100%;
    height: 100%;
}

.baner .image img{
    width: 100%;
    height: 100%;
    background-size: contain;
}

.baner .content{
    position: absolute;
    top: 50%;;
    transform: translateY(-50%);
    width: 50%;
}

.baner .content h3{
    text-transform: uppercase;
    color: red;
    font-size: 40px;
    letter-spacing: 1px;
}

.baner .content p{
    font-size: 18px;
    line-height: 30px;
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 3em 0;
}

.baner .content button{
    padding: 15px 40px;
    font-size: 25px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}


@media screen and (width < 1024px) {
    .baner .content h3{
        font-size: 30px;
    }

    .baner .content p{
        font-size: 14px;
        line-height: 25px;
    }

    .baner .content button{
        padding: 10px 30px;
        font-size: 18px;
    }
}

@media screen and (width < 768px) {
    .baner .content h3{
        font-size: 15px;
    }

    .baner .content p{
        font-size: 10px;
        line-height: 12px;
    }

    .baner .content button{
        font-size: 10px;
    }
}

@media screen and (width < 375px) {
    .baner .content{
        width: 65%;
    }
    .baner .content h3{
        font-size: 13px;
    }
    .baner .content p{
        font-size: 8px;
    }

}



